/*Galeria de Productos*/ 

.gallery { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  margin:  auto; 
  max-width: 1200px; 
} 

.product { 
  flex-basis: calc(25% - 20px); 
  margin-bottom: 20px; 
  overflow: hidden; 
  position: relative; 
  text-align: center; 
} 

.product img { 
  width: 100%; 
  height: auto; 
  transition: transform .5s ease; 
} 

.product:hover img { 
  transform: scale(1.4); 
} 

.product h2 { 
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff; 
  font-size: 1.2em; 
  margin: 0; 
  padding: 10px; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  text-align: center; 
  transition: background-color .3s ease; 
} 

.product:hover h2 { 
  background-color: rgba(0, 0, 0, 0.7); 
} 

.product p { 
  background-color: #fff; 
  color: #333; 
  font-size: 0.9em; 
  margin: 0; 
  padding: 10px; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  text-align: center; 
  transition: background-color .3s ease; 
} 
.product:hover p { 
  background-color: #f0f0f0; 
} 

/*Fin de Galery*/

